pandas和numpy都支持data.sum(axis=xxx)的操作进行求和计算，其中axis=0按列求和，axis=1按行求和

In [1]:
import pandas as pd

In [4]:
data = pd.DataFrame({"a":[1, 2, 3], "b":[2.0, 3.2, 4.4], "c":[9, 2, 1]})

In [5]:
data

   a    b  c
0  1  2.0  9
1  2  3.2  2
2  3  4.4  1

In [14]:
data.sum(axis=0)

a     6.0
b     9.6
c    12.0
dtype: float64

In [7]:
import numpy as np

In [8]:
data_array = data.values

In [9]:
data_array

array([[1. , 2. , 9. ],
       [2. , 3.2, 2. ],
       [3. , 4.4, 1. ]])

In [11]:
data_array.sum(axis=0)

array([ 6. ,  9.6, 12. ])